<div class='notes-display'>
	<h1>Notes</h1>
		<ul class='notes'>
			<li class='note'><span class='note-body'></span><span class='note-date'></span></li>
		</ul>
</div>

<div class='note-creator'>
	<h2>New Note</h2>
	<form action='/notes' method='post' class='new-note-form'>
		<input type='text' name='body' placeholder='Enter Body'>
		<input type='submit' value='Create Note'>
	</form>
</div>


