<h1>Notes</h1>
<div class='notes-display'>
</div>

<h2>New Note</h2>
<div class='note-creator'>
	<form action='/notes' method='post' class='new-note-form'>
		<input type='text' name='body' placeholder='Enter Body'>
		<input type='submit' value='Create Note'>
	</form>
</div>


