<h1>Notes</h1>
	<ul class='notes'>
		<li><span class='note-body'></span><span class='note-date'></li>
	</ul>

<h2>New Note</h2>
<form action='/notes' action='post' class='new-note'>
	<input type='text' name='body' placeholder='Enter Body'>
	<input type='submit' value='Create Note'>
</form>


